<div class="doc">
  <div class="doc__background-ribbon"></div>
  <div class="doc__text-editor hidden">
    <button md-raised-button (click)="autoWritePerformanceMeasurement()">Auto Write</button>
    <md-card class="editor" id="editor" contentEditable='true' spellcheck="false"></md-card>
  </div>
</div>









<!-- statistic performance measurment -->
<div flex style="height: 500px">
  <md-progress-bar [value] = "progress"> </md-progress-bar>
  <span>#RequestsSent: {{requestSent}} </span>
  <span>#RequestsReceived: {{requestReceived}} </span>
  <span>Request Size: {{requestSize}} </span>
  <span>#Ops/s: {{opsPerSecond}} </span>

  <div *ngIf="statisticComputed" id="output">
    <div>
      Request Size: {{requestSize}}
    </div>
    <div>
      average latency (all): {{averageLatencyAll}} ms
    </div>
    <div>
      max latency (all): {{maxLatency}} ms
    </div>
    <div>
      min latency (all): {{minLatency}} ms
    </div>
    <div>
      average latency (fastest Decile): {{averageLatency_1st_decile}} ms
    </div>
    <div>
      average latency (slowest Decile): {{averageLatency_10nd_decile}} ms
    </div>
    <div>
      Standard Deviation: {{standard_deviation}} ms
    </div>


  </div>
  <!--<md-spinner  *ngIf="started" class="centered" ></md-spinner> -->

</div>

