
<md-toolbar color="primary">
<span><md-icon>cloud_queue</md-icon></span>

<span>{{title}}</span>

<button md-icon-button [md-menu-trigger-for]="menu">
  <md-icon>more_vert</md-icon>
</button>
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
<button md-menu-item>Option 1</button>
<button md-menu-item>Option 2</button>
</md-menu>

<md-card>

  <md-input-container>
    <input mdInput placeholder="Counter State" value="{{counter}}">
  </md-input-container>

  <button md-raised-button color="accent" (click)="launchCounter()">Launch Counter</button>
  <button md-raised-button color="primary" (click)="launchCounter()">Halt Counter</button>
<p>
  Sent Message: {{sentMessage}}
</p>
<p>
  Received Message: {{message}}
</p>
</md-card>

<!--
<span class="done">
<button md-fab>
  <md-icon>check circle</md-icon>
</button>
</span>
-->
